version: "3.3"
services:
  aws-route53-dyndns:
    build:
      context: .
      args:
        - CRON_JOB_INTERVAL_MINUTE=60
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - "~/.aws/credentials:/root/.aws/credentials:ro"
