version: "3.3"
services:
  aws-route53-dyndns:
    build:
      context: .
      args:
        - CRON_JOB_INTERVAL_MINUTE=60
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://172.17.0.1:4317
    volumes:
      - "~/.aws/credentials:/root/.aws/credentials:ro"
